body{
    background-color: aqua
    color:white;
    font-family: "Pinyon Script", cursive;
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0;

}

button{
    background-color: aqua;
    color: white;
    font-family: "Pinyon Script", cursive;
    
}

.passo {
    display:nome;
}

.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}